.header {
<<<<<<< HEAD
  display:flex;
  background-color: rgb(50 , 167 , 145);
=======
  display: flex;
  background-color: rgb(50, 167, 145);
>>>>>>> 850cab9b337f78a39a8ba8d13bc7cd534ed43578
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 10px;
<<<<<<< HEAD
=======
}

.header img {
  width: 60px;
>>>>>>> 850cab9b337f78a39a8ba8d13bc7cd534ed43578
}

.trybewarts-login {
  display: flex;
}

<<<<<<< HEAD
.header h1 {
  align-self: center;  
}

.header img {
  width: 65px;
}

.form-login {
  align-self: center;
  padding: 15px;
}
=======
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#form2 {
  display: flex;
  flex-direction: row;
}

#trybewarts-forms-logo {
  height: 500px;
  float: right;
}
>>>>>>> 850cab9b337f78a39a8ba8d13bc7cd534ed43578
