.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
}

.header h1 {
  align-self: center;
}

.form-login {
  align-self: center;
  padding: 15px;
}

#form2 {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  float: right;
}

.fullname {
  display: flex;
}
