.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 10px;
}

main {
  display: flex;
}

.trybewarts-header-logo {
  height: 50px;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 750px;
  flex-direction: column;
  align-items: center;
}

#titulo-forms {
  align-self: center;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

#lastName {
  display: flex;
  margin-bottom: 12px;
}

#emailHouse {
  display: flex;
  margin-bottom: 12px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

.radioButtons {
  display: flex;
  flex-direction: column;
}

.checkboxButtons {
  display: flex;
}

#agreement {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}
